@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'vendor/font-awesome.min';
@import 'vendor/flat-style';
@import 'my_flat_style_tweaks';
@import '../../node_modules/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar';
//@import '../../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp';

.bot-spacing {
    margin-bottom: 1em;
}

.left-spacing {
    margin-left: 1em;
}

.left-spacing-2 {
    margin-left: 2em;
}

.right-spacing {
    margin-right: 1em;
}

.top-spacing {
    margin-top: 1em;
}

.flex {
    display: flex;
}

.flex--vert-mid {
    align-items: center;
}

.font-size-h4 {
    font-size: $font-size-h4;
}

.no-margin, input[type="checkbox"].no-margin {
    margin: 0;
}

.row--vert-mid-md {
    @media (min-width: $screen-sm-min) {
        align-items: center;
        display: flex;
        text-align: center;
    }
}

.navbar-header__login-button {
    margin-bottom: 8px;
    margin-right: 15px;
    margin-top: 8px;
}

.my-hidden-lt-sm {
    @media (max-width: $screen-xs-max) {
        display: none;
    }
}

.my-hidden-geq-sm {
    @media (min-width: $screen-sm-min) {
        display: none;
    }
}

.calendar-container {
    margin-bottom: 1em;
}

.uib-datepicker-popup.dropdown-menu {
    background-color: white;
}

.small-number-input {
    max-width: 5em;
}

.clickable {
    cursor: pointer;
}

// https://lipis.github.io/bootstrap-social/
.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px
}

.fa-google:before {
    content: "\f1a0";
}

.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
}

.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
}
