<app-page>
    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>
                        If you have trouble remembering all the things you have to do, then maybe
                        we can help.
                    </h3>
                    <h1>
                        ezPlan
                    </h1>
                    <h5>
                        We make remembering easy. No more forgetting car maintenance,
                        forgetting to refilling your prescription, or missing a deadline to turn
                        in your paperwork.
                    </h5>
                    <h5>
                        Answer some simple questions, and we can setup a schedule for you.
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div id="service">
        <div class="container">
            <div class="row centered bot-spacing">
                <div class="col-sm-4">
                    <h4>
                        Homeowner?
                    </h4>
                    <p>
                        We can remind you of all your home maintenance needs.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h4>
                        Student?
                    </h4>
                    <p>
                        we won't let you forget your submit your FAFSA, to pay housing, or sign up
                        for classes!
                    </p>
                </div>
                <div class="col-sm-4">
                    <h4>
                        To Hip to fall into categories
                    </h4>
                    <p>
                        Don't worry, you can even define your own.
                    </p>
                </div>
            </div>
            <div class="row row--vert-mid-md">
                <div class="col-sm-12">
                    <img class="image-responsive" src="/images/google_calendar.png">
                </div>
                <div class="col-sm-12">
                    <h4>
                        Already have a Google calendar? Don't worry, all events that show up on
                        your google calendar will show up here too.
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container bot-spacing">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <a ui-sref="Register" class="btn btn-lg btn-primary btn-block">
                    Sign up
                </a>
            </div>
        </div>
    </div>
</app-page>
