<div class="panel" ng-class="$ctrl.topic.isSet ? 'panel-success' : 'panel-default'">
    <div class="panel-heading flex flex--vert-mid">
        <input class="no-margin" type="checkbox" ng-model="$ctrl.topic.isSet">
        <div class="left-spacing font-size-h4">{{$ctrl.topic.name}}</div>
    </div>
    <div class="panel-body" uib-collapse="!$ctrl.topic.isSet">
        <div class="row">
            <div class="col-sm-12">
                <h4>Remind Me To:</h4>
            </div>
        </div>
        <ng-repeat ng-repeat="eventGenerator in $ctrl.topic.eventGenerators">
            <suggestion-event-generator event-generator="eventGenerator"
                                        class="suggestion-event-generator">
            </suggestion-event-generator>
        </ng-repeat>
    </div>
</div>

