<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button ng-if="$ctrl.isLoggedIn" type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div ng-show="!$ctrl.isLoggedIn"
                 class="pull-right my-hidden-geq-sm">
                <a ui-sref="Login" class="btn btn-success navbar-header__login-button">
                    Log in
                </a>
            </div>
            <a class="navbar-brand" href="index.html">PlanIt.</a>
        </div>
        <div ng-if="$ctrl.isLoggedIn" class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="active"><a ui-sref="Home">HOME</a></li>
                <li><a ui-sref="MyEvents">MY EVENTS</a></li>
                <li><a ui-sref="EventsSuggestions">SUGGESTED EVENTS</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        OPTIONS <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">BLOG</a></li>
                        <li><a href="#">SINGLE POST</a></li>
                        <li><a href="#">PORTFOLIO</a></li>
                        <li><a href="#">SINGLE PROJECT</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
        <div ng-show="!$ctrl.isLoggedIn" class="pull-right my-hidden-lt-sm">
            <a ui-sref="Login" class="btn btn-success navbar-header__login-button">
                Log in
            </a>
        </div><!--/.nav-collapse -->
    </div>
</div>
