<!--<a class="btn btn-block btn-social btn-google" href="/api/auth/google"-->
   <!--target="_blank">-->
    <!--<span class="fa fa-google"></span> Sign in with Google-->
<!--</a>-->
<!--<a class="btn btn-block btn-social btn-facebook" href="/api/auth/facebook"-->
   <!--target="_blank">-->
    <!--<span class="fa fa-facebook"></span> Sign in with Facebook-->
<!--</a>-->

<button class="btn btn-block btn-social btn-google" ng-click="$ctrl.onGoogleSignIn()">
    <span class="fa fa-google"></span> Sign in with Google
</button>
<button class="btn btn-block btn-social btn-facebook" ng-click="$ctrl.onFacebookSignIn()">
    <span class="fa fa-facebook"></span> Sign in with Facebook
</button>
<h4 class="text-center">OR</h4>
