<app-page>
    <div id="blue">
        <div class="container">
            <div class="row">
                    <h3>Log in.</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                <social-sign-in></social-sign-in>
                <form>
                    <div ng-class="{'has-error': $ctrl.errors.email}" class="form-group">
                        <label for="email-input" class="control-label">Email:</label>
                        <input id="email-input" type="text" placeholder="email"
                               ng-model="$ctrl.user.email"
                               class="form-control">
                        <div class="text-danger">{{$ctrl.errors.email}}</div>
                    </div>
                    <div ng-class="{'has-error': $ctrl.errors.password}" class="form-group">
                        <label for="password-input" class="control-label">Password:</label>
                        <input id="password-input" type="password" placeholder="password"
                               ng-model="$ctrl.user.password"
                               class="form-control">
                        <div class="text-danger">{{$ctrl.errors.password}}</div>
                        <div class="text-danger"></div>
                    </div>
                    <div class="pull-right">
                        <button ng-click="$ctrl.login($ctrl.user)" class="btn btn-primary">
                            Log in
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</app-page>
