<app-page>
    <div id="blue">
        <div class="container">
            <div class="row">
                    <h3>Register.</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                <a class="btn btn-block btn-social btn-google" href="/api/auth/google"
                   target="_blank">
                    <span class="fa fa-google"></span> Sign in with Google
                </a>
                <a class="btn btn-block btn-social btn-facebook" href="/api/auth/facebook"
                   target="_blank">
                    <span class="fa fa-facebook"></span> Sign in with Facebook
                </a>
                <h4>OR</h4>
                <form>
                    <div ng-class="{'has-error': $ctrl.errors.email}" class="form-group">
                        <label for="email-input" class="control-label">Email:</label>
                        <input id="email-input" type="text" placeholder="email"
                               ng-model="$ctrl.user.email"
                               class="form-control">
                        <div class="text-danger">{{$ctrl.errors.email}}</div>
                    </div>
                    <div ng-class="{'has-error': $ctrl.errors.password}" class="form-group">
                        <label for="password-input" class="control-label">Password:</label>
                        <input id="password-input" type="password" placeholder="password"
                               ng-model="$ctrl.user.password"
                               class="form-control">
                        <div class="text-danger">{{$ctrl.errors.password}}</div>
                        <div class="text-danger"></div>
                    </div>
                    <div ng-class="{'has-error': $ctrl.errors.verifyPassword}" class="form-group">
                        <label for="verify-password-input" class="control-label">Verify Password:</label>
                        <input id="verify-password-input" type="password" placeholder="verify password"
                               ng-model="$ctrl.user.verifyPassword"
                               class="form-control">
                        <div class="text-danger">{{$ctrl.errors.verifyPassword}}</div>
                        <div class="text-danger"></div>
                    </div>
                    <div class="pull-right">
                        <button ng-click="$ctrl.register($ctrl.user)" class="btn btn-primary">
                            Sign up
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</app-page>
